<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Profile</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <nav>
      <ul>
        <% if logged_in? %>
        <li class="last"><a><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
              <p>Not logged in</p>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row2">
  <div id="container" class="clear">

    <!-- content body -->
    <section id="shout">
      
      <h3><a><%= link_to "return to main page",   home_path %></a></h3>

    </section>
    <!-- main content -->
    <section id="services" class="clear">

      <!-- article 3 -->
      <h1>Create a shift: </h1>
      <article class="three_third center lastbox">
<div class="row justify-content-md-center mt-5">
<p>Note: In the department entry, 1 is Cashier, 2 is Stock Handler, 3 is Dairy, 4 is Deli, 5 is Bakery</p>
    <div class="col-4">
        <%= form_tag newlisting_path do |form| %>
        <div class="form-group">
            <% if @errors != nil %>
            <div class="alert alert-danger" role="alert">
                <% @errors.each do |error| %>
                <div><%= error %></div>
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="form-group">
            <label><%= label_tag :starttime %></label>
            <%= text_field_tag :starttime, "", class: 'form-control' %>
            <small id="startHelp" class="form-text text-muted">Shift Start time</small>
        </div>
        <div class="form-group">
            <label><%= label_tag :endtime %></label>
            <%= text_field_tag :endtime, "", class: 'form-control' %>
            <small id="endHelp" class="form-text text-muted">Shift End time</small>
        </div>
        <div class="form-group">
            <label><%= label_tag :shiftlength %></label>
            <%= text_field_tag :shiftlength, "", class: 'form-control' %>
            <small id="shiftHelp" class="form-text text-muted">Shift length (end - start)</small>
        </div>
        <div class="form-group">
            <label><%= label_tag :department %></label>
            <select name="department" id="department" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <small id="departmentHelp" class="form-text text-muted">Select department</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
    </div>
</div>

<script>
    function getDepartments(storeId){
        axios({
            method: 'GET', 
            url: "/departments?store=" + storeId,
            headers: {
                'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
            }
        })
        .then(function(response) {
            if(response && response.data){
                const departments = response.data;
                const storeDDL = document.querySelector("#department");
                storeDDL.innerHTML = '';
                departments.forEach((dep)=>{
                    let dept = document.createElement('option');
                    dept.value = dep.id;
                    dept.innerHTML = dep.name;

                    storeDDL.appendChild(dept);
                });
            }
        })
        .catch(function(error) {
            console.log(error);
        });
    }
</script>
      </article>

    </section>
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- / content body -->
  </div>
</div>
<!-- footer -->

</body>
</html>
