<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
<title>Employee Main</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <nav>
      <ul>
        <li class="last"><a><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="shout">
      
      <h1>Welcome, <%= @theUser.firstname %>
      <img src="images/notification.png" alt="" style="width:20px; height:20px; float:right;">
      </h1>

    </section>
    <!-- main content -->
    <section id="services" class="clear">
      <!-- article 1 -->
      <article class="one_third">
        <nav>
          <ul>
            <li><a><%=link_to "Browse Shifts",listings_path %></a></li>
            <br>
            <li><a><%= link_to "Create A Shift", newlisting_path %></a></li>
            <br>
            <li><a><%= link_to "View Profile", profile_path %></a></li>
            <br>
            <% if @theUser.ismanager == true %>
              <li><%= link_to "Register New User", signup_path, class: "btn btn-primary" %></li>
            <% end %>
          </ul>
        </nav>

      </article>
      <div class="vl"></div>
      <!-- article 3 -->
      <article class="two_third lastbox">
      <table>
    <tr>
        <th>Day Of The Week</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Shift Length</th>
        <th>Department</th>
        <th>Store</th>
          <th>Post A Shift</th>
    </tr>
    <% @shifts.each do |shift| %>
        <% if session[:user_id] == shift.userid %>
            <tr>
              <% case %>
              <% when shift.starttime < 24 %>
                  <td>Sunday</td>
                  <td><%= shift.starttime %>:00</td>
              <% when shift.starttime > 23 && shift.starttime < 48 %>
                  <td>Monday</td>
                  <td><%= shift.starttime - 24 %>:00</td>
              <% when shift.starttime > 47 && shift.starttime < 72 %>
                  <td>Tuesday</td>
                  <td><%= shift.starttime - 48 %>:00</td>
              <% when shift.starttime > 71 && shift.starttime < 96 %>
                  <td>Wednesday</td>
                  <td><%= shift.starttime - 72 %>:00</td>
              <% when shift.starttime > 95 && shift.starttime < 120 %>
                  <td>Thursday</td>
                  <td><%= shift.starttime - 96 %>:00</td>
              <% when shift.starttime > 119 && shift.starttime < 144 %>
                  <td>Friday</td>
                  <td><%= shift.starttime - 120 %>:00</td>
              <% when shift.starttime > 143 && shift.starttime < 168 %>
                  <td>Saturday</td>
                  <td><%= shift.starttime - 144 %>:00</td>
              <% end %>
              <% case %>
              <% when shift.endtime < 24 %>
                  <td><%= shift.endtime %>:00</td>
              <% when shift.endtime > 23 && shift.endtime < 48 %>
                  <td><%= shift.endtime - 24 %>:00</td>
              <% when shift.endtime > 47 && shift.endtime < 72 %>
                  <td><%= shift.endtime - 48 %>:00</td>
              <% when shift.endtime > 71 && shift.endtime < 96 %>
                  <td><%= shift.endtime - 72 %>:00</td>
              <% when shift.endtime > 95 && shift.endtime < 120 %>
                  <td><%= shift.endtime - 96 %>:00</td>
              <% when shift.endtime > 119 && shift.endtime < 144 %>
                  <td><%= shift.endtime - 120 %>:00</td>
              <% when shift.endtime > 143 && shift.endtime < 168 %>
                  <td><%= shift.endtime - 144 %>:00</td>
              <% end %>
                <td><%= shift.shiftlength %> hour(s)</td>
                <% if shift.department %>
                  <% if shift.department == 1 %>
                    <td>Cashier</td>
                  <% end%>
                  <% if shift.department == 2 %>
                    <td>Stock Handler</td>
                  <% end%>
                  <% if shift.department == 3 %>
                    <td>Dairy</td>
                  <% end%>
                  <% if shift.department == 4 %>
                    <td>Deli</td>
                  <% end%>
                  <% if shift.department == 5 %>
                    <td>Bakery</td>
                  <% end %>
                <% else %>
                  <td>No Department</td>
                <% end%>
                <% case %>
                <% when !shift.storeid %>
                  <td>Swanston St</td>
                <% when shift.storeid == 1 %>
                  <td>Swanston St</td>
                <% when shift.storeid == 2 %>
                  <td>Elizabeth St</td>
                <% when shift.storeid == 3 %>
                  <td>Bourke St</td>
                <% when shift.storeid == 4 %>
                  <td>Lygon St</td>
                <% when shift.storeid > 4 %>
                  <td>Queen's St</td>
                <% end %>
                  <td><%= link_to "Select", {:controller => "site_pages",
                                     :action => "movePublic",
                                     :id => shift.id,
                                     :userid => shift.userid}, method: "post",
                                  class: "btn btn-sm btn-success" %></td>
            </tr>
        <% end %>
    <% end %>
</table>
      </article>
    </section>
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- / content body -->
  </div>
</div>
<!-- footer -->

</div>
</body>
</html>
