<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Profile</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <nav>
      <ul>
        <% if logged_in? %>
        <li class="last"><a><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
              <p>Not logged in</p>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="shout">
      
      <h3><a><%= link_to "return to main page",   home_path %></a></h3>

    </section>
    <!-- main content -->
    <section id="services" class="clear">

      <!-- article 3 -->
      <h1>Profile </h1>
      <article class="three_third center">
<p>This will be the page for editing the user's profile</p>
<p>Logged In As: <%= @theUser.firstname %> <%= @theUser.lastname %></p>
<p>Email Address: <%= @theUser.emailaddress %></p>
<p>Phone Number: <%= @theUser.phonenumber %></p>
<% if @theUser.ismanager == true %>
  <p>Account status: Manager</p>
<% else %>
  <p>Account status: Employee</p>
<% end %>
<% if @theUser.storeid != nil%>
  <p>Store ID: <%= @theUser.storeid %></p>
<% end %>
          </article>
    </section>
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- / content body -->
  </div>
</div>
<!-- footer -->

</body>
</html>
